<!DOCTYPE html>
<html>
<head>
<title></title>
</head>
<body>
	<table>
		<tr>
			<th>Name</th>
			<th>Quantity</th>
			<th>Price</th>
			<th>Total</th>
		</tr>
		

		<%# grocery_list.each do |item| %>
		<% @array.each do |item| %>
		<tr>
			<td><%= puts item %></td>
			
			<% if false %>
		<tr>

			<td><%= item.name %></td>
			<td><%= item.quantity %></td>
			<td><%= item.price %></td>
			<td><%= item.total %></td>
		</tr>
		<% end %>
		<% end %>
	</table>
	
	
	<br />
	<br />
	<a href="/new"><input type="submit" value="New"></a>
</body>
</html>